{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="et-hero-tabs">
        <h1>WILD CINE</h1>
        <h3></h3>
        <div class="et-hero-tabs-container">
            <a class="et-hero-tab" href="#tab-new">Nouveautés</a>
            <a class="et-hero-tab" href="#tab-genre">Par catégories</a>
            <a class="et-hero-tab" href="#tab-critics">Les mieux notés</a>
            <a class="et-hero-tab" href="#tab-review">A revoir</a>
            <a class="et-hero-tab" href="#tab-other">Autres</a>
            <span class="et-hero-tab-slider"></span>
        </div>
    </section>

    <!-- Main -->
    <main class="et-main">
        <section class="et-slide" id="tab-new">
            <h1>Nouveautés</h1>
            <h3>Les films de moins d'un an</h3>
        </section>
        <section class="et-slide" id="tab-genre">
            <h1>Par catégories</h1>
            <h3></h3>
        </section>
        <section class="et-slide" id="tab-critics">
            <h1>Les mieux notés</h1>
            <h3>Classement des films</h3>
        </section>
        <section class="et-slide" id="tab-review">
            <h1>Les films à revoir</h1>
            <h3></h3>
        </section>
        <section class="et-slide" id="tab-other">
            <h1>Autres</h1>
            <h3></h3>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('style') }}
{% endblock %}
