{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="et-hero-tabs">
        <h1>WILD CINE</h1>
        <h3></h3>
        <div class="et-hero-tabs-container">
            <a class="et-hero-tab" href="#tab-new">Nouveautés</a>
            <a class="et-hero-tab" href="#tab-genre">Tous les films</a>
            <a class="et-hero-tab" href="#tab-critics">Les mieux notés</a>
            <a class="et-hero-tab" href="#tab-review">Par catégories</a>
            <a class="et-hero-tab" href="#tab-other">Autres</a>
            <span class="et-hero-tab-slider"></span>
        </div>
    </section>

    <!-- Main -->
    <main class="et-main">
        <section id="tab-new">
            <div class="row justify-content-center">
                <h1>Nouveautés</h1>
            </div>
            <h3>Les films de moins d'un an</h3>
        </section>
        <section id="tab-genre">
            <div>
                <div class="row justify-content-center">
                    <h1>Tous les films</h1>
                </div>
                    {% for movie in movies %}
                        <div class="card mt-3 pt-2 pb-2 col-md-3 ml-3" style="width: 18rem;">
                            <img class="cover_film" src="{{movie.image }}" alt="cover">
                            <h5 class="card-title">{{ movie.title }}</h5>
                        </div>
                    {% endfor %}
            </div>
        </section>
        <section id="tab-critics">
            <div class="row justify-content-center">
                <h1>Les mieux notés</h1>
            </div>
        </section>
        <section id="tab-review">
            <div class="row justify-content-center">
                <h1>Par catégories</h1>
            </div>
        </section>
        <section id="tab-other">
            <div class="row justify-content-center">
                <h1>Autres</h1>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('style') }}
{% endblock %}
