@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Yanone+Kaffeesatz:300,400,700');

body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background-color: #061724;
}

a {
    text-decoration: none;
}

.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #326388;
    text-align: center;
    padding: 0 2em;
    h2 {
        font-size: 2.5rem;
        margin: 0;
        letter-spacing: 1rem;
        text-shadow: 4px 1px 3px #A7C1CE;
    }
    h3 {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        opacity: 0.8;
        color:white;
        font-weight: bold;
        margin-right: 50%;
    }
}
.tab {
    font-size: 1rem;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #326388;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab,
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    &:hover {
        color:black;
        background: #A7C1CE;
        transition: all 0.5s ease;
        text-decoration: none;
        text-shadow: 1px 1px 1px white;
    }
}


.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #A7C1CE;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs,
    .tab,
    .et-slide {
        h2 {
            font-size: 3rem;
        }
    }
    .et-hero-tab,
    .tab{
        font-size: 1.2rem;
    }
}

/*title*/
h2 {
    margin-top: 3vh;
    color: #326388;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
    text-align: center;
}
h1 {
    margin-top: 5vh;
    margin-right: 50%;
    color: #A7C1CE;
    font-weight: bold;
    font-size: 6em;
    text-shadow: 4px 1px 3px #000;
}

/*animation title*/
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*Cover*/
.all_films {
    margin-left: 1%;
}
.card_cover {
    width: 220px;
    height: 320px;
    box-shadow: 2px 2px 5px 2px #061724;
    .cover_film {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
}
.card_cover_show {
    width: 440px;
    height: 640px;
    box-shadow: 2px 2px 5px 2px #061724;
    .cover_film_show {
        width: 400px;
        height: 600px;
        object-fit: cover;
    }
}
.all_films {
    .container_image {
        .cover_film {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
    }
}
.container_image:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/*homePage photo*/
.backgroundHome {
    background: url("../images/pellicule5.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: cover !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1F3D52;
}
.container_image:hover .overlay {
    opacity: 1;
}
.title_movie {
    color: 	#A7C1CE;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

p, h5, h6 {
    color: white;
}
h6 {
   font-weight: bold;
   font-size: 1.5em;
}

.button_connexion {
    background-color: #A7C1CE;
    color: #061724;
    margin-left: 45%;
}
.fa-user-times{
    font-size: 2em;
    color: #A7C1CE;
}
.navvbar_cine {
    .cine_navbar {
        .navbar-nav {
            .home_button {
                color: #A7C1CE;
                font-size: 1.8rem;
            }
        }
    }
}



.user_email {
    margin-right: 50%;
    color: #A7C1CE;
    font-weight: bold;
    font-size: 6em;
    text-shadow: 4px 1px 3px #000;
}
.form_login {
    .register {
        a {
            text-decoration: none;
        }
    }
}
.register {
    a {
        text-decoration: none;
    }
}

.search_form {
    height: 30px;
}
.search {
    margin-left: 37%;
    background-color:#061724;
    color: white;
    border-color: #A7C1CE;
    width: 50vh;
    height: 5vh;
}
.pseudo {
    text-align: right;
    p {
        color: #A7C1CE;
    }
}
.fa-star , .fa-film, .fa-chevron-up {
    color: #A7C1CE;
}

/*show*/
.image_actor{
    width: 200px;
    height: 280px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.image_actor:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}
.navbar_cine {
    margin-top: -10%;
}


/*carousel*/
.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 476px;
    width: 336px;
    margin-left: 49%;
}
.card-carousel .my-card {
    height: 30rem;
    width: 50rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
}
.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}
.card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}
.card-carousel .my-card:nth-child(0):before {
    //content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.card-carousel .my-card:nth-child(1):before {
    //content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.card-carousel .my-card:nth-child(2):before {
    //content: '2';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.card-carousel .my-card:nth-child(3):before {
    //content: '3';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.card-carousel .my-card:nth-child(4):before {
    //content: '4';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.card-carousel .my-card:nth-child(0):before {
    //content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
    //content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    //content: '2';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    //content: '3';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
    //content: '4';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.carousel_film {
    height:480px;
    width: 336px;
    box-shadow:0 0 100px #A7C1CE,0 0 100px #1F3D52;
    border-radius: 3%;
}
.card_carousel {
    background-color: #061724;
    a {
        text-decoration: none;
        color: #A7C1CE;
        text-align: center;
    }
}
#tab-genre {
    margin-top : 10%;
}

/*navbar*/
.navbar_cine {
    background-color: #1F3D52;
}
.clap {
    box-shadow:0 0 100px #A7C1CE,0 0 100px #1F3D52;
}

.logout_button {
    margin-left: 165vh;
}
.title_film {
    font-size: 3.5rem;
}
.image_film {
    box-shadow:0 0 100px #A7C1CE,0 0 100px #1F3D52;
}
.name_actor {
    margin-left: 15%;
}

/*actorCard*/
.content-box-holder{
    width: 420px;
    height: 100%;
    position: relative;
    perspective:100vw;

}
.content-box{
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    height: 700px;
    width: 100%;

    background-color: #1F3D52;
    border-radius: 0.4rem;
    border-right: 5px solid #1F3D52;
    transform: rotateX(0deg) rotateY(-30deg);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px,rgba(0, 0, 0, 0.05) 35px 0px 30px;
    transition: all 0.3s ease-out;
    transition-property: transform, border-width, box-shadow;
}
.content-box:hover{
    transform: rotateX(0deg) rotateY(0deg);
    border-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 5px,rgba(0, 0, 0, 0.2) 1px 1px 8px;
    transition: all 0.5s ease-out;
    transition-property: border-width, transform, box-shadow;
}
.content-image{
    background-size: cover;
}
.picture_actor {
    width: 420px;
    height: 700px;

}
.container_actor {
    box-shadow:0 0 100px #A7C1CE,0 0 100px #1F3D52;
}

.title_movie_actor {
    a {
        text-decoration: none;
        color : white;
    }
    a:hover {
        text-decoration: none;
        color : #A7C1CE;
    }
}
